CREATE DATABASE [BibliotecaUniversitaria];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BibliotecaUniversitaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BibliotecaUniversitaria]
GO
/****** Objeto: Table [dbo].[Autor] Fecha de script: 9/8/2026 15:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[id_autor] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](60) NOT NULL,
	[apellidos] [varchar](60) NOT NULL,
	[nacionalidad] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Categoria] Fecha de script: 9/8/2026 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria] [varchar](60) NOT NULL,
	[descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Detalle_Prestamo] Fecha de script: 9/8/2026 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Prestamo](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_prestamo] [int] NOT NULL,
	[id_libro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[estado_devolucion] [nvarchar](20) NOT NULL,
	[observacion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Docente] Fecha de script: 9/8/2026 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docente](
	[id_usuario] [int] NOT NULL,
	[codigo_docente] [varchar](20) NOT NULL,
	[facultad] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estudiante] Fecha de script: 9/8/2026 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[id_usuario] [int] NOT NULL,
	[matricula] [varchar](20) NOT NULL,
	[carrera] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Libro] Fecha de script: 9/8/2026 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[id_libro] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](150) NOT NULL,
	[isbn] [varchar](20) NOT NULL,
	[editorial] [varchar](80) NOT NULL,
	[anio_publicacion] [smallint] NOT NULL,
	[cantidad_total] [int] NOT NULL,
	[cantidad_disponible] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Libro_Autor] Fecha de script: 9/8/2026 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro_Autor](
	[id_libro] [int] NOT NULL,
	[id_autor] [int] NOT NULL,
 CONSTRAINT [PK_Libro_Autor] PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC,
	[id_autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Politica_Prestamo] Fecha de script: 9/8/2026 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Politica_Prestamo](
	[id_politica] [int] IDENTITY(1,1) NOT NULL,
	[nombre_politica] [varchar](50) NOT NULL,
	[dias_prestamo] [int] NOT NULL,
	[limite_libros] [int] NOT NULL,
	[descripcion_beneficio] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_politica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Prestamo] Fecha de script: 9/8/2026 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[id_prestamo] [int] IDENTITY(1,1) NOT NULL,
	[fecha_prestamo] [date] NOT NULL,
	[fecha_devolucion_pactada] [date] NOT NULL,
	[fecha_devolucion_real] [date] NULL,
	[estado] [nvarchar](20) NOT NULL,
	[id_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Sancion] Fecha de script: 9/8/2026 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sancion](
	[id_sancion] [int] IDENTITY(1,1) NOT NULL,
	[id_prestamo] [int] NOT NULL,
	[tipo_sancion] [nvarchar](30) NOT NULL,
	[motivo] [nvarchar](200) NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fecha_sancion] [date] NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 9/8/2026 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [varchar](10) NOT NULL,
	[nombres] [varchar](60) NOT NULL,
	[apellidos] [varchar](60) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[telefono] [varchar](15) NULL,
	[tipo_usuario] [varchar](20) NOT NULL,
	[estado] [varchar](15) NOT NULL,
	[id_politica] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([id_autor], [nombres], [apellidos], [nacionalidad]) VALUES (1, N'Alejandro', N'Ruiz', N'Ecuatoriana')
INSERT [dbo].[Autor] ([id_autor], [nombres], [apellidos], [nacionalidad]) VALUES (2, N'Beatriz', N'Martínez', N'Colombiana')
INSERT [dbo].[Autor] ([id_autor], [nombres], [apellidos], [nacionalidad]) VALUES (3, N'Carlos', N'Sánchez', N'Española')
SET IDENTITY_INSERT [dbo].[Autor] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([id_categoria], [nombre_categoria], [descripcion]) VALUES (1, N'Programación', N'Libros sobre desarrollo de software')
INSERT [dbo].[Categoria] ([id_categoria], [nombre_categoria], [descripcion]) VALUES (2, N'Inteligencia artificial', N'Aprendizaje automático y sistemas inteligentes')
INSERT [dbo].[Categoria] ([id_categoria], [nombre_categoria], [descripcion]) VALUES (3, N'Redes', N'Redes informáticas y comunicaciones')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Prestamo] ON 

INSERT [dbo].[Detalle_Prestamo] ([id_detalle], [id_prestamo], [id_libro], [cantidad], [estado_devolucion], [observacion]) VALUES (1, 1, 1, 1, N'Devuelto', N'Devuelto con dos días de atraso')
INSERT [dbo].[Detalle_Prestamo] ([id_detalle], [id_prestamo], [id_libro], [cantidad], [estado_devolucion], [observacion]) VALUES (2, 2, 2, 1, N'Devuelto', N'Devuelto antes de la fecha pactada')
INSERT [dbo].[Detalle_Prestamo] ([id_detalle], [id_prestamo], [id_libro], [cantidad], [estado_devolucion], [observacion]) VALUES (3, 3, 3, 1, N'Pendiente', N'Préstamo vencido')
SET IDENTITY_INSERT [dbo].[Detalle_Prestamo] OFF
GO
INSERT [dbo].[Docente] ([id_usuario], [codigo_docente], [facultad]) VALUES (11, N'DOC-001', N'Ingeniería')
INSERT [dbo].[Docente] ([id_usuario], [codigo_docente], [facultad]) VALUES (12, N'DOC-002', N'Ciencias Administrativas')
INSERT [dbo].[Docente] ([id_usuario], [codigo_docente], [facultad]) VALUES (13, N'DOC-003', N'Ingeniería')
GO
INSERT [dbo].[Estudiante] ([id_usuario], [matricula], [carrera]) VALUES (1, N'EST-001', N'Ingeniería en Inteligencia Artificial')
INSERT [dbo].[Estudiante] ([id_usuario], [matricula], [carrera]) VALUES (2, N'EST-002', N'Ingeniería en Software')
INSERT [dbo].[Estudiante] ([id_usuario], [matricula], [carrera]) VALUES (3, N'EST-003', N'Telecomunicaciones')
GO
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([id_libro], [titulo], [isbn], [editorial], [anio_publicacion], [cantidad_total], [cantidad_disponible], [id_categoria]) VALUES (1, N'Fundamentos de programación', N'9780000000001', N'Editorial Académica', 2021, 8, 6, 1)
INSERT [dbo].[Libro] ([id_libro], [titulo], [isbn], [editorial], [anio_publicacion], [cantidad_total], [cantidad_disponible], [id_categoria]) VALUES (2, N'Introducción a la inteligencia artificial', N'9780000000002', N'Tecnología Educativa', 2022, 6, 4, 2)
INSERT [dbo].[Libro] ([id_libro], [titulo], [isbn], [editorial], [anio_publicacion], [cantidad_total], [cantidad_disponible], [id_categoria]) VALUES (3, N'Redes de datos modernas', N'9780000000003', N'Conexión Digital', 2020, 7, 5, 3)
SET IDENTITY_INSERT [dbo].[Libro] OFF
GO
INSERT [dbo].[Libro_Autor] ([id_libro], [id_autor]) VALUES (1, 1)
INSERT [dbo].[Libro_Autor] ([id_libro], [id_autor]) VALUES (1, 2)
INSERT [dbo].[Libro_Autor] ([id_libro], [id_autor]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Politica_Prestamo] ON 

INSERT [dbo].[Politica_Prestamo] ([id_politica], [nombre_politica], [dias_prestamo], [limite_libros], [descripcion_beneficio]) VALUES (1, N'Estudiante básica', 7, 3, N'Préstamo regular para estudiantes')
INSERT [dbo].[Politica_Prestamo] ([id_politica], [nombre_politica], [dias_prestamo], [limite_libros], [descripcion_beneficio]) VALUES (2, N'Estudiante ampliada', 10, 4, N'Beneficio por buen historial')
INSERT [dbo].[Politica_Prestamo] ([id_politica], [nombre_politica], [dias_prestamo], [limite_libros], [descripcion_beneficio]) VALUES (3, N'Estudiante investigador', 15, 5, N'Para proyectos de investigación')
SET IDENTITY_INSERT [dbo].[Politica_Prestamo] OFF
GO
SET IDENTITY_INSERT [dbo].[Prestamo] ON 

INSERT [dbo].[Prestamo] ([id_prestamo], [fecha_prestamo], [fecha_devolucion_pactada], [fecha_devolucion_real], [estado], [id_usuario]) VALUES (1, CAST(N'2026-07-01' AS Date), CAST(N'2026-07-08' AS Date), CAST(N'2026-07-10' AS Date), N'Devuelto', 1)
INSERT [dbo].[Prestamo] ([id_prestamo], [fecha_prestamo], [fecha_devolucion_pactada], [fecha_devolucion_real], [estado], [id_usuario]) VALUES (2, CAST(N'2026-07-02' AS Date), CAST(N'2026-07-12' AS Date), CAST(N'2026-07-09' AS Date), N'Devuelto', 2)
INSERT [dbo].[Prestamo] ([id_prestamo], [fecha_prestamo], [fecha_devolucion_pactada], [fecha_devolucion_real], [estado], [id_usuario]) VALUES (3, CAST(N'2026-07-05' AS Date), CAST(N'2026-07-12' AS Date), NULL, N'Atrasado', 3)
SET IDENTITY_INSERT [dbo].[Prestamo] OFF
GO
SET IDENTITY_INSERT [dbo].[Sancion] ON 

INSERT [dbo].[Sancion] ([id_sancion], [id_prestamo], [tipo_sancion], [motivo], [monto], [fecha_sancion], [estado]) VALUES (1, 1, N'Atraso', N'Devolución realizada con dos días de atraso', CAST(2.00 AS Decimal(10, 2)), CAST(N'2026-07-10' AS Date), N'Pagada')
INSERT [dbo].[Sancion] ([id_sancion], [id_prestamo], [tipo_sancion], [motivo], [monto], [fecha_sancion], [estado]) VALUES (2, 3, N'Atraso', N'El préstamo superó la fecha pactada', CAST(5.00 AS Decimal(10, 2)), CAST(N'2026-07-13' AS Date), N'Pendiente')
INSERT [dbo].[Sancion] ([id_sancion], [id_prestamo], [tipo_sancion], [motivo], [monto], [fecha_sancion], [estado]) VALUES (3, 4, N'Atraso', N'Devolución realizada con tres días de atraso', CAST(3.00 AS Decimal(10, 2)), CAST(N'2026-07-23' AS Date), N'Pagada')
SET IDENTITY_INSERT [dbo].[Sancion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [cedula], [nombres], [apellidos], [correo], [telefono], [tipo_usuario], [estado], [id_politica]) VALUES (1, N'0900000001', N'Carlos', N'Mendoza', N'carlos.mendoza@example.com', N'0990000001', N'Estudiante', N'Activo', 1)
INSERT [dbo].[Usuario] ([id_usuario], [cedula], [nombres], [apellidos], [correo], [telefono], [tipo_usuario], [estado], [id_politica]) VALUES (2, N'0900000002', N'Andrea', N'Castro', N'andrea.castro@example.com', N'0990000002', N'Estudiante', N'Activo', 2)
INSERT [dbo].[Usuario] ([id_usuario], [cedula], [nombres], [apellidos], [correo], [telefono], [tipo_usuario], [estado], [id_politica]) VALUES (3, N'0900000003', N'José', N'Ramírez', N'jose.ramirez@example.com', N'0990000003', N'Estudiante', N'Activo', 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Categori__4EBF62594A071C0F] Fecha de script: 9/8/2026 15:46:19 ******/
ALTER TABLE [dbo].[Categoria] ADD UNIQUE NONCLUSTERED 
(
	[nombre_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Detalle_Prestamo_Libro] Fecha de script: 9/8/2026 15:46:19 ******/
ALTER TABLE [dbo].[Detalle_Prestamo] ADD  CONSTRAINT [UQ_Detalle_Prestamo_Libro] UNIQUE NONCLUSTERED 
(
	[id_prestamo] ASC,
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Docente__551034A257C17DE6] Fecha de script: 9/8/2026 15:46:19 ******/
ALTER TABLE [dbo].[Docente] ADD UNIQUE NONCLUSTERED 
(
	[codigo_docente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Estudian__30962D15F72C7A71] Fecha de script: 9/8/2026 15:46:19 ******/
ALTER TABLE [dbo].[Estudiante] ADD UNIQUE NONCLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Libro__99F9D0A4D3B4F229] Fecha de script: 9/8/2026 15:46:19 ******/
ALTER TABLE [dbo].[Libro] ADD UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Politica__01B55D76698D1844] Fecha de script: 9/8/2026 15:46:19 ******/
ALTER TABLE [dbo].[Politica_Prestamo] ADD UNIQUE NONCLUSTERED 
(
	[nombre_politica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__2A586E0B3CF57BD3] Fecha de script: 9/8/2026 15:46:19 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__415B7BE5B0B987D1] Fecha de script: 9/8/2026 15:46:19 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detalle_Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Libro] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libro] ([id_libro])
GO
ALTER TABLE [dbo].[Detalle_Prestamo] CHECK CONSTRAINT [FK_Detalle_Libro]
GO
ALTER TABLE [dbo].[Detalle_Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Prestamo] FOREIGN KEY([id_prestamo])
REFERENCES [dbo].[Prestamo] ([id_prestamo])
GO
ALTER TABLE [dbo].[Detalle_Prestamo] CHECK CONSTRAINT [FK_Detalle_Prestamo]
GO
ALTER TABLE [dbo].[Docente]  WITH CHECK ADD  CONSTRAINT [FK_Docente_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Docente] CHECK CONSTRAINT [FK_Docente_Usuario]
GO
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Estudiante] CHECK CONSTRAINT [FK_Estudiante_Usuario]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Categoria]
GO
ALTER TABLE [dbo].[Libro_Autor]  WITH CHECK ADD  CONSTRAINT [FK_LibroAutor_Autor] FOREIGN KEY([id_autor])
REFERENCES [dbo].[Autor] ([id_autor])
GO
ALTER TABLE [dbo].[Libro_Autor] CHECK CONSTRAINT [FK_LibroAutor_Autor]
GO
ALTER TABLE [dbo].[Libro_Autor]  WITH CHECK ADD  CONSTRAINT [FK_LibroAutor_Libro] FOREIGN KEY([id_libro])
REFERENCES [dbo].[Libro] ([id_libro])
GO
ALTER TABLE [dbo].[Libro_Autor] CHECK CONSTRAINT [FK_LibroAutor_Libro]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Usuario]
GO
ALTER TABLE [dbo].[Sancion]  WITH CHECK ADD  CONSTRAINT [FK_Sancion_Prestamo] FOREIGN KEY([id_prestamo])
REFERENCES [dbo].[Prestamo] ([id_prestamo])
GO
ALTER TABLE [dbo].[Sancion] CHECK CONSTRAINT [FK_Sancion_Prestamo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Politica] FOREIGN KEY([id_politica])
REFERENCES [dbo].[Politica_Prestamo] ([id_politica])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Politica]
GO
ALTER TABLE [dbo].[Detalle_Prestamo]  WITH CHECK ADD  CONSTRAINT [CK_Detalle_Cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[Detalle_Prestamo] CHECK CONSTRAINT [CK_Detalle_Cantidad]
GO
ALTER TABLE [dbo].[Detalle_Prestamo]  WITH CHECK ADD  CONSTRAINT [CK_Detalle_Estado] CHECK  (([estado_devolucion]=N'Perdido' OR [estado_devolucion]=N'Dañado' OR [estado_devolucion]=N'Devuelto' OR [estado_devolucion]=N'Pendiente'))
GO
ALTER TABLE [dbo].[Detalle_Prestamo] CHECK CONSTRAINT [CK_Detalle_Estado]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [CK_Libro_Cantidades] CHECK  (([cantidad_total]>=(0) AND [cantidad_disponible]>=(0) AND [cantidad_disponible]<=[cantidad_total]))
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [CK_Libro_Cantidades]
GO
ALTER TABLE [dbo].[Politica_Prestamo]  WITH CHECK ADD  CONSTRAINT [CK_Politica_Dias] CHECK  (([dias_prestamo]>(0)))
GO
ALTER TABLE [dbo].[Politica_Prestamo] CHECK CONSTRAINT [CK_Politica_Dias]
GO
ALTER TABLE [dbo].[Politica_Prestamo]  WITH CHECK ADD  CONSTRAINT [CK_Politica_Limite] CHECK  (([limite_libros]>(0)))
GO
ALTER TABLE [dbo].[Politica_Prestamo] CHECK CONSTRAINT [CK_Politica_Limite]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [CK_Prestamo_Estado] CHECK  (([estado]=N'Atrasado' OR [estado]=N'Devuelto' OR [estado]=N'Prestado'))
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [CK_Prestamo_Estado]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [CK_Prestamo_Fechas] CHECK  (([fecha_devolucion_pactada]>=[fecha_prestamo] AND ([fecha_devolucion_real] IS NULL OR [fecha_devolucion_real]>=[fecha_prestamo])))
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [CK_Prestamo_Fechas]
GO
ALTER TABLE [dbo].[Sancion]  WITH CHECK ADD  CONSTRAINT [CK_Sancion_Estado] CHECK  (([estado]=N'Anulada' OR [estado]=N'Pagada' OR [estado]=N'Pendiente'))
GO
ALTER TABLE [dbo].[Sancion] CHECK CONSTRAINT [CK_Sancion_Estado]
GO
ALTER TABLE [dbo].[Sancion]  WITH CHECK ADD  CONSTRAINT [CK_Sancion_Monto] CHECK  (([monto]>=(0)))
GO
ALTER TABLE [dbo].[Sancion] CHECK CONSTRAINT [CK_Sancion_Monto]
GO
ALTER TABLE [dbo].[Sancion]  WITH CHECK ADD  CONSTRAINT [CK_Sancion_Tipo] CHECK  (([tipo_sancion]=N'Pérdida' OR [tipo_sancion]=N'Daño' OR [tipo_sancion]=N'Atraso'))
GO
ALTER TABLE [dbo].[Sancion] CHECK CONSTRAINT [CK_Sancion_Tipo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Estado] CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Tipo] CHECK  (([tipo_usuario]='Docente' OR [tipo_usuario]='Estudiante'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_Tipo]
GO
USE [master]
GO
